/*
    CSS STYLES
    These are the default styles for the buildout.
*/

/* natural box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
/* UTILITIES */
/* hides an element on screen, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* COLORS */
/* Use color variables so it's easier to change colors later */
/* Will create a warning in the W3C CSS validator */
/* Ignore that - CSS variables are fine to use */
:root {
    --footer: #F2EEE3;
    --gray: rgb(0, 0, 0, 0.1);
}

/*
    TYPOGRAPHY
*/

.subhead-container {
    width: 35%;
    margin: 0 auto; /* Center the container horizontally */
    justify-content: center;
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 450;
    font-size: 16px;
    justify-content: center;
    color: black;
    line-height: auto;
    text-align: center;

}

.subhead {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 450;
    font-size: 16px;
    justify-content: center;
    color: black;
    line-height: auto;
    text-align: center;

}

h1, .bylines p, footer p {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 850;
}
h1, h2, h3 {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    color: #D6B464;
}
  
h1 { /* first headline */
    padding: 30vh 0 0.75em;
    font-size: 28px;
    font-family: 'Georgia', serif;
    font-style: italic;
    position: static;

}

h2 { /* second headline */
    padding: 20vh 0 0.75em;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-top: -0.3em; /* Adjust the value to move the text up */
    padding: 0; /* Reset padding to remove any extra space */
}

h3 { /* third headline */
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    color: black;
    margin: auto;
    line-height: 2.5em;
}

h4 { /* section header */
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-size: bold;
    color: white;
}

h5 { /* container text */
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: white;

}

h6 { /* footer1*/
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

}

h7 { /* footer2 */
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #D6B464;
}

h8 { /* footer2 */
    font-family: 'Georgia', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    color: #8E6600;
    font-style: italic;

}

h9 { /* navbar */
    font-weight: 400;
    font-size: 25px;
    line-height: 18px;
    top: 5.8px;
}

h10 { /* text box head */
    font-weight: 700; /* Bold */
    font-size: 23px;
    line-height: 23px;
    text-align: center;
    color: #D6B464;
}

h11 { /*body subheads*/
    font-family: 'Libre Franklin';
    font-weight: 700;
    font-size: 24px;
    justify-content: left;
    color: white;

}

h12 { /*body subhead star*/
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: 800;
    margin-top: -0.5em; /* Adjust the value to move the text up */
    color: #D6B464;

}

h13 /*section divider*/ {
    font-family: 'Libre Franklin';
    font-weight: 700;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #8E6600;
}

h14 /*panel text*/ {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 200;
    font-size: 22px;
    color: white;
}


.bylines p { /* bylines */
    font-size: 14px;
    line-height: 1;
    margin: 0.0em;
}
.bylines div p:nth-child(even) { /* adjust spacing for subbylines */
    margin-bottom: 0.6em;
}
.bylines div:after { /* add horizontal lines btwn byline divs */
    content: "";
    border: 1px solid var(--gray);
    width: 100%;
    height: 0;
    display: block;
    margin: 1.0em 0;
}
.related { /* related tag */
    padding: 1.0em 0;
    font-size: 0.95em;
}
.related span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
footer {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    flex: 1;
}
.section-break { /* three asterisks */
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 25px;
    text-align: center;
}


/* 
    HEADER
*/
header {
    background-size: cover;
    height: 2vh; /* makes image same height as screen */
}
/* navbar */
nav {
    color: #8E6600; /* Set your desired text color */
    position: fixed;
    width: 100%;
    z-index: 200;
    background-color: #D6B464; /* Set your initial background color */
    border: 2px solid #D6B464; /* This adds a black border to the bottom of the nav */
    padding-top: -0.5px;
}



nav li {
    list-style-type: none;
    white-space: nowrap;
}

nav li a {
    margin: 0 0.5em;
    color: #F2EEE3; /* Set your desired text color */
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* This will evenly distribute the items horizontally */
    align-items: center; /* This will vertically center align the items */
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
}

li.logo p {
    display: inline; /* Display the text inline with the logo */
    margin-left: 10px; /* Adjust the spacing as needed */
    margin-top: 5px; /* Adjust the margin-top to move the text down */

}

/* styles for li items makes the spacing/alignment work on the menu */
/* also allows the responsive menu toggler behavior */
li.logo {
    margin-right: auto; /* put the logo on the left */
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
li.logo img {
    width: 50px;
    padding-right: 5px;
}
li.logo span {
    display: none;
    -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
}
li.item {
    font-size: 18px;
    text-align: left;
}
li.item a {
    margin-top: 0em; /* Adjust this value to move the "ABOUT" text up */

}

nav a {
    /* so the ENTIRE item is clickable */
    display: block;
    
    /* design choices */
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #F2EEE3;
    opacity: 0.9;
}
/* hide all list items **that aren't logo or toggle** */
/*ul li:not(.logo):not(.toggle) {
    display: none;
}
ul div {
    display: none;
}
/* reveal hidden items (on toggle) 
/* force this display to take precedence and be more "!important" 
/* to display properly, also set the width to 100% 
.show {
    display: block !important;
    width: 100%;
    margin-bottom: 8px;
} */

/* Show Dropdown Content on Hover and on Click */
.item.dropdown:hover .dropdown-content,
.item.dropdown.click:focus .dropdown-content {
    display: block;
}

.item.dropdown {
    margin-left: auto; /* Push "THE SURVEY" to the right */
    margin: 10; /* Reset margins */
    padding: 0; /* Reset paddings */
    top: 0px;
}

@media screen and (max-width: 480px) {
    .item.dropdown {
        display: none; /* or any other styling for hiding */
    }
}


/* 
    ARTICLE ALIGNMENT (flexbox added in larger view widths)
*/
article:first-child {
    padding-top: 5%;
}
section p:first-child {
    margin-top: 0;
}
.bylines {
    padding-top: 6.5px;
}

.chart-container {
    max-width: 500px;
    margin: 5px; /* This will center the container if its width is less than the parent container */
}

.quote {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0px;
    text-align: center;
    font-style: italic;
    font-family: 'Georgia', serif;
    font-weight: 300;
}
.attribute {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: grey;
    margin-top: 0;
    text-align: center;
}

/*
    LINKS
*/
/* Custom link style */

/* default link styles */
a:link, a:visited {
    color:#8E6600;
    text-decoration: none;
    border-bottom: 0.125em solid #8E6600;
}
a:hover {
    color: #8E6600;
    border-bottom: 0.125em solid #8E6600;
}

/* navbar social icons */
nav li a:link, nav li a:visited {
    color: black;
    text-decoration: none;
    border-bottom: none;
}
nav li a:hover, nav li a:active {
    color: #D6B464;
    text-decoration: none;
    border-bottom: none;
}
/* byline links */
.bylines a:link, .bylines a:active {
    color: #D6B464;
    text-decoration: none;
    border-bottom: none;
}
.bylines a:hover, .bylines a:visited {
    color: #D6B464;
    text-decoration: underline;
    border-bottom: none;
}

/*
    FOOTER
*/
footer {
    background-color: #D6B464;
    padding: 30px 0 15px;
}

/* 
    ADVERTISEMENTS
*/
.ad {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Inter';
}
.ad-caption {
    text-align: center; 
    font-size: 12px; 
    padding-top: 15px; 
    font-family: 'Inter', sans-serif; 
    text-transform: uppercase;
}
.ad-block {
    margin-top: 10px; padding-bottom: 20px;
    margin-bottom: 20px;
}
.ad-code {
    padding-bottom: 30px;
}

