@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Dosis);

/* 
    HEADER
*/
header {
  background-size: cover;
  height: 2vh; /* makes image same height as screen */
}

.header-section {
  position: relative;
  top: -110px; /* Adjust this value to move the section up or down */
}

.subhead-container {
  width: 35%;
  margin: 0 auto; /* Center the container horizontally */
  justify-content: center;
}

.bracket-container {
  display: flex;
  height: 100%;
  justify-content: center; /* Center items horizontally */
  max-width: 98%; /* Adjust max-width as needed */
  align-items: center; /* Center items vertically */
  text-align: center; /* Optional: Center text inside items */
  margin-bottom: 200px;
  margin-top: -270px;
  margin-left: 1.7%; /* Auto left margin to center */
  margin-right: 0px; /* Auto right margin to center */
}

/* navbar */
nav {
  color: #8E6600; /* Set your desired text color */
  position: fixed;
  width: 100%;
  z-index: 200;
  background-color: #D6B464; /* Set your initial background color */
  border: 2px solid #D6B464; /* This adds a black border to the bottom of the nav */
  padding-top: -0.5px;
}

/*BRACKET STYLES*/

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #D6B464;
}


.header>h1{
  margin: auto;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #205060
}

.bracket-container{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-top: -50px;
}

.bracket-level{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  transition: all ease .5s;
}

.bracket-level:hover{
  width: 200%;
}

.bracket-matchup{
  width: 90%;
  margin: auto;
  max-height: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bracket-team{
  height: 45%;
  width: 100%;
  background-color: #F5F5F5;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  display: flex;
  flex-direction: row;
  transition: all ease .5s;
}

.bracket-name{
  font-family: 'Open Sans', sans-serif;
  width: 75%;
  font-size: .75em;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #2B2B2B;
  text-align: center;
  margin-top: 5px;
}

.bracket-score{
  font-family: 'Open Sans', sans-serif;
  font-size: .75em;
  padding: .2em;
  line-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  color: #2B2B2B;
  text-align: center;
}

.winner>.bracket-name, .winner>.bracket-score{
  font-weight: bold;
  color: #D07030;
}

.bracket-team:hover{
  background-color: #E8E8E8;
  height: 100%;
  transition: all ease .5s;
}

.bracket-team:hover>.bracket-name{
  overflow: none;
  text-overflow: clip;
  white-space: normal;
  line-height: 1em;
  align-self: center;
  width: 100%;
}

.bracket-team:hover>.bracket-score{
  display: none;
}