
/* FONTS */
/* add any @import statements for novelty fonts you want to use here ↓ */

/* COLORS */
/* set any colors you plan to use throughout the buildout here */
/* then you can adjust the color value easily */

.header-section {
  position: relative;
  top: -110px; /* Adjust this value to move the section up or down */
  margin-bottom: -110px;
}

/* SET ANY MORE STYLES YOU WANT HERE: */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Dosis);

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F2EEE3;
}

.bracket-container {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 95%;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  text-align: center; /* Optional: Center text inside items */
  margin-left: 2.5%
}

.bracket-container#finals {
  width: 50%;
  padding: 0px;
  margin: 0 auto;
  height: 100px;

}

.bracket-level{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.bracket-matchup{
  width: 90%;
  margin: auto;
  max-height: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bracket-team{
  height: 70%;
  width: 100%;
  background-color: #F5F5F5;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  display: flex;
}

.bracket-name{
  font-family: 'Libre Franklin', sans-serif;
  width: 75%;
  font-size: .75em;
  padding: .2em;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #2B2B2B;
  text-align: center;
}

.bracket-score{
  font-family: 'Libre Franklin', sans-serif;
  font-size: .75em;
  padding: .2em;
  line-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  color: #2B2B2B;
  text-align: center;
}

.winner>.bracket-name, .winner>.bracket-score{
  font-weight: bold;
  color: #D07030;
}

.footer-logo {
  max-width: 20%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Remove extra space below the image */
  margin: 0 auto; /* Center the image horizontally */
}

/* Optional: Add some space around the image */
.container {
  padding-top: 4px;
  padding-bottom: 8px;
}

footer .col-md-3 {
  margin-bottom: 20px; /* Adjust the value for the desired space */
}


/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* use these for responsive design — you can set different styles based on how wide the screen is */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
/*@media (min-width: 576px) { 
    
} */

@media (max-width: 1000px) {
  header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

/* Medium devices (tablets, 768px and up) */
/*@media (min-width: 768px) {
    header {
        /* adjust header image positioning for larger devices if needed */
        /* you can also change the header image for mobile here */
        /* background-position: 50% 50%; 
    } 
  }
*/


/* Large devices (desktops, 992px and up) */
/*@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) {

}
*/